# Node
node_modules/
npm-debug.log*
yarn-debug.log*

# Env files
.env
backend/.env
frontend/.env
backend/config/.env

# Build outputs
frontend/dist
frontend/build
backend/dist

# OS / Editor
.DS_Store
.vscode/
.idea/
